<div class="main-container">
  <div #container id="areaContainer"> 
    <canvas id="canvas"></canvas>
    <img id="i1" src="/assets/images/im1.png" alt="shape">
    <script>
      var canvas = new fabric.Canvas("canvas");
      var image = document.getElementById('i1');
      var fabricImage = new fabric.Image(image);
      canvas.add(fabricImage);
    </script>
  </div> 
  <div id="alarm"> 
    <div>
      <span>
        <img class="warning-sign" src="/assets/images/warning-sign.svg" alt="warning sign">
        <span class="warning-text">WARNING</span> 
      </span>
    </div>
    <div class="bottom-element">
        <p class="bottom-text" align="center">Anti-Collision system status</p>
    </div>
  </div>
</div>




