
canvas{
  border: solid black 1px;
  height: 100%;
  width : 100%;
  
  /* position: relative;
  display: block; */
}
.main-container{
  display:grid;
  grid-template-columns: 90% 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  grid-column-gap: 10px;
}
#alarm {
  background: red;
  
}


#areaContainer{

}